.content{
    text-indent: 30px;
    font-size: 17px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.mar{
    margin-top: 80px;
    margin-left: 80%;
}
.text-center{
    margin-right:5px;
}
#eloquence{
    padding-bottom: 138px;
    }